<!DOCTYPE html>
<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">
<body>

<header>
  <h4>    
    {% block title %}
    {% endblock %}
</h4>
  <h1>
      {% block heading %}
      {% endblock %}
  </h1>
</header>

{% block content %}
{% endblock %}





<!-- Footer -->
<footer class="w3-container w3-padding-16">
  <p>This is an open source project and can be found <a href="https://github.com/jmath1/covax">here</a></p>
  </div>
</footer>

</body>
</html>
